{% load i18n %}
<div dir="rtl">
    {% if member_list %}
        <table>
            <tr><th>שם</th><th>מגדר</th><th>טלפון</th><th>כתובת מייל</th></tr>
            {% for member in member_list %}
                <tr>
                    <td><a href="{% url 'detail' member.id %}">{{member.user.get_full_name}}</a></td>
                    <td>{% trans member.gender.name %}</td>
                    <td>{{member.phone_number}}</td>
                    <td>{{member.user.email}}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>אין חברים.</p>
    {% endif %}

    <h2>הוספת חברים</h2>
    <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">{% csrf_token %}

        <input type="radio" name="status" value="a" checked> חברים פעילים
        <input type="radio" name="status" value="f"> חברים בהקפאה<br>
        <input type="file" name="csv_file" /><br>
        <input type="submit" value="העלה קובץ CSV" />

    </form>
</div>