{% include "bigsister/index.html" %}
<div dir="rtl">
    {% if member_list %}
        <table class="table">
            {% include "members/header.html" %}
            <tbody>
            {% for member in member_list %}
                {% include "members/member.html" %}
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>אין חברים.</p>
    {% endif %}

    <h2>הוספת חברים</h2>
    <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">{% csrf_token %}

        <input type="radio" name="status" value="a" checked> חברים פעילים
        <input type="radio" name="status" value="f"> חברים בהקפאה<br>
        <input type="file" name="csv_file" /><br>
        <input type="submit" value="העלה קובץ CSV" />

    </form>
</div>